@import url("https://fonts.googleapis.com/css?family=Lato");
/* Reset de estilos */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Estilos generales */
body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    font-family:"lato";

}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
     
    
}
.logo {
    max-width: 60px; /* Ajusta el tamaño del logo según tus necesidades */
    position: absolute; /* Posición absoluta para superponer el logo */
    top: 10px; /* Ajusta la distancia desde la parte superior según tu diseño */
    left: 20px; /* Ajusta la distancia desde la izquierda según tu diseño */
}
.wsp {
    max-width: 60px; /* Ajusta el tamaño del logo según tus necesidades */
    position: absolute; /* Posición absoluta para superponer el logo */
    top: 0px; /* Ajusta la distancia desde la parte superior según tu diseño */
    right: 20px; /* Ajusta la distancia desde la izquierda según tu diseño */
}
/* Encabezado */
.header {
    color: white;
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: #324d9b ;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 100;
     
}
 
 

/* Sección de descripcion */
.descripcion{
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;  
    display: flex; 
    align-items: center;
    background-color: #fdfdfdff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

 
}  
.descripcion-container{
    width: calc(50% - 10px); /* Ajusta el ancho de cada miembro para que haya 3 por fila */
}

.descripcion-container img {
    background-size:contain;   
}
 

.descripcion h2{
    font-size: 30px;

}

.descripcion p{
    font-size: 20px;

}

/* Sección de Servicios */
.services {
    background-color: white;
    padding: 40px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

.services h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

.service {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.service h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.service p {
    font-size: 16px;
}
/*SECCION DE STAFF*/

/* ... (Estilos previos) */

/* Sección de Staff */
.staff {
    background-color: #f9f9f9;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
    padding: 40px 0;
}

.staff h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.staff-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajusta el ancho automáticamente */
    gap: 20px;
    justify-items: center; /* Centra los elementos horizontalmente */
     
}

.staff-member {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition:transform 1s;
    width: 100%; /* Ocupa todo el ancho del contenedor de la cuadrícula */
    max-width: 270px; /* Ancho máximo de cada elemento staff-member */
     
}

.staff-member img {
    max-width: 40%;
    border-radius: 50%;
}
 

.staff-member:hover{

    transform: scale(1.05);
}

.staff-member h3 {
    font-size: 20px;
    margin-top: 10px;
}

.staff-member h4 {
    font-size: 15px;
    margin-top: 5px;
}

.staff-member p {
    font-size: 16px;
}

.staff-member .linkdin {
    max-width: 15%;
    border-radius: 100%;
}
/*seccion tecnologias*/

.tecnologias{
    max-width: 100%;
    margin: 20px;
    padding: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tecnologias-container{
    margin: 20px;
    padding: 10px;
}
 
 
/* Sección de clientes */
 
.clientes {
    background-color: #f9f9f9;
    padding: 40px 0;
}

.clientes h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.clientes-grid {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan automáticamente */
    justify-content: center;
}

.clientes-member {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition:transform 1s;
    margin: 10px; /* Agregar margen a cada miembro para separarlos */
    width: calc(33.33% - 20px); /* Ajusta el ancho de cada miembro para que haya 3 por fila */
    max-width: 300px; /* Ajusta el ancho máximo según tus preferencias */
    min-width: 300px;
}


.clientes-member img {
    max-width: 50%;
    border-radius: 50%;
}
 

.clientes-member:hover{

    transform: scale(1.08);
}

.clientes-member h3 {
    font-size: 20px;
    margin-top: 10px;
}

.clientes-member h4 {
    font-size: 15px;
    margin-top: 5px;
}
 
.clientes-member p {
    font-size: 16px;
}

.clientes-member .linkdin {
    max-width: 15%;
    border-radius: 100%;
}
 
/* Sección de empresa */
 
.empresa {
    background-color: #f9f9f9;
    padding: 40px 0;
}

.empresa h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.empresa-grid {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan automáticamente */
    justify-content: center;
}

.empresa-member {
    text-align: center; /*lo dejo porque sino se tira hacia la derecha la imagen*/
    transition:transform 1s;
    margin: 10px; /* Agregar margen a cada miembro para separarlos */
    width: calc(33.33% - 20px); /* Ajusta el ancho de cada miembro para que haya 3 por fila */
    max-width: 300px; /* Ajusta el ancho máximo según tus preferencias */
}

.empresa-member img {
    max-width: 50%;
    border-radius: 50%;
    cursor: pointer;
}
 

.empresa-member:hover{

    transform: scale(1.08);
}
 
 

/* Sección de Proyectos */
/* Carrusel de proyectos */
.projects {
    background-color: #f5f5f5;
    padding: 40px 0;
    text-align: center;
}

.project-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll; /* Permitir desplazamiento horizontal */
    scrollbar-width: none; /* Ocultar la barra de desplazamiento en Firefox */
}
 
.project-carousel::-webkit-scrollbar {
    display: none; /* Ocultar la barra de desplazamiento en Webkit (Chrome, Safari, Edge) */
}

.project-slide {
    flex: 0 0 300px; /* Ancho de cada proyecto en el carrusel */
    margin-right: 20px; /* Espacio entre proyectos */
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition:transform 1s;
}

.project-slide:hover{
    transform: scale(1.08);
}

.project-slide img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.project-slide h3 {
    font-size: 20px;
    margin: 10px 0;
}

.project-slide p {
    font-size: 16px;
}
/*contacto*/

/* Estilos para la sección de contacto */

/* Estilos para la sección de contacto */
.contacto {
    background-color: #f9f9f9;
    padding: 40px 0;
}

.contacto h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.contacto .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contacto .form-group {
    margin-bottom: 20px;
}

.contacto label {
    display: block;
    margin-bottom: 5px;
}

.contacto input[type="text"],
.contacto input[type="email"],
.contacto textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contacto button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contacto button:hover {
    background-color: #0056b3;
}




/* Pie de Página */
.footer {
    background-color: #324d9b ;
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.footer p {
    font-size: 16px;
}

.footer img {
    width: 90px;
    height: 140px;
    transition: transform 1s;
}

.footer img:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {

    .logo {
        max-width: 45px; /* Ajusta el tamaño del logo según tus necesidades */
        position: absolute; /* Posición absoluta para superponer el logo */
        top: 5px; /* Ajusta la distancia desde la parte superior según tu diseño */
        left: 6px; /* Ajusta la distancia desde la izquierda según tu diseño */
    }
    .wsp {
        max-width: 40px; /* Ajusta el tamaño del logo según tus necesidades */
        position: absolute; /* Posición absoluta para superponer el logo */
        top: 0px; /* Ajusta la distancia desde la parte superior según tu diseño */
        right: 5px; /* Ajusta la distancia desde la izquierda según tu diseño */
    }
    /* Encabezado */
    .header {
        width: 100%;
        height: 40px;
        padding: 0;
    }
      
    /* Sección de descripcion */
    .descripcion{
        display: grid;
    } 
    .descripcion-container{
        align-items: center;
        text-align: center;
        width: 100%;
        margin-top: 50px;
    }
    .descripcion-container img {
        max-width: 300px; 
        max-height: 300px;  
 
    }
    .descripcion h2{
        font-size: 30px;
    }

    .descripcion p{
        font-size: 15px;

    }



}

/*ANIMACIONES*/
@keyframes show {
    from{
        opacity: 0;
        scale: 5%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}

@keyframes header {
    from {
        margin-left: 100%;
        width: 300%;
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
}
.staff-member{
    view-timeline-name: --image;
    view-timeline-axis: grid;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 50% cover 55%;
    animation-fill-mode:both;
}

.project-carousel{

    view-timeline-name: --image;
    view-timeline-axis: grid;

    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 50% cover 55%;
    animation-fill-mode:both;
 }

 .clientes-member{
    view-timeline-name: --image;
    view-timeline-axis: grid;

    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 50% cover 55%;
    animation-fill-mode:both;
 }

 .empresa-member{
    view-timeline-name: --image;
    view-timeline-axis: grid;

    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 50% cover 55%;
    animation-fill-mode:both;
 }

 