<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="Estilos/Eventos.css">
</head>
<body>
    <header>
        <div class="cabecera">
            <h2>Eventos disponibles</h2>
        </div>
     </header>

   
 
     <section>
        <div id="eventos-container"></div>
    </section>

    <script>
        function convertirFechaAFormatoDMY(fecha) {
        var partes = fecha.split("-");
        if (partes.length === 3) {
            var anio = partes[0];
            var mes = partes[1];
            var dia = partes[2];
            return dia + "/" + mes + "/" + anio;
        }
        return fecha;
        }

        // Hacer una solicitud AJAX para obtener los datos de la tabla eventos
        fetch('../Models/obtenerEventos.php')
            .then(response => response.json())
            .then(data => {
                // Iterar sobre los datos y generar divs para cada evento
                const eventosContainer = document.getElementById('eventos-container');
                data.forEach(evento => {
                    const divEvento = document.createElement('div');
                    divEvento.className = 'evento';
                    divEvento.innerHTML = `
                        <h2>${evento.titulo}</h2>
                        <p>${evento.descripcion}</p>
                        <p>Fecha de inicio: ${convertirFechaAFormatoDMY(evento.fecha_inicio)}</p>
                        <p>Fecha de inicio: ${convertirFechaAFormatoDMY(evento.fecha_fin)}</p>

                        <img src="${evento.img}" alt="Imagen del evento" class="img">
                        <br><br>
                        <a href="reservar.html"><button type="button" class="btn btn-outline-info">Reservar</button></a>
                    `;
                    eventosContainer.appendChild(divEvento);
                });
            })
            .catch(error => {
                console.error('Error al obtener los datos de eventos:', error);
            });
    </script>
</body>
</html>